<div class="row">
    <div class="col-sm-4 offset-md-4">
        <div class="card rounded">
            <div class="card-header text-center bg-dark">
                <div class="card-title text-light">
                    <h3 *ngIf="edit">Editar Empleado</h3>
                    <h3 else>Agregar Empleado</h3>
                </div>
            </div>
            <div class="card-body">
                <form (submit)="edit ? updateEmployee() : submitEmployee()">
                    <div class="form-group">
                        <input 
                         type="text"
                         name="name" 
                         class="form-control rounded-pill" 
                         [(ngModel)]="employee.name" 
                         placeholder="Nombre del empleado" 
                         autofocus>
                    </div>

                    <div class="form-group">
                        <input 
                        type="text" 
                        (keypress)="onlyNumbers($event)" 
                        name="salary" class="form-control rounded-pill" 
                        [(ngModel)]="employee.salary" 
                        placeholder="Salario del empleado">
                    </div>

                    <div class="form-group">
                        <input 
                        type="text"
                        (keypress)="onlyNumbers($event)"
                        name="age"
                        class="form-control rounded-pill"
                        [(ngModel)]="employee.age"
                        placeholder="Edad del empleado">
                    </div>

                    <div class="form-group">
                        <button class="btn btn-primary btn-block rounded-pill">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
